.astral-puzzle-row {
  width: 100%;
  height: 100px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.astral-puzzle-row.highlighted {
  background-color: rgba(255, 255, 0, 0.2);
}

.astral-puzzle-cell {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.astral-puzzle-item-container {
  display: flex;
  height: 80px;
  width: 80px;
  justify-content: center;
  align-items: center;
}

.astral-puzzle-item-container.selected {
  border: 2px solid red;
}

@media (max-width: 480px) {
  .astral-puzzle-cell {
    scale: 0.8;
  }
  .astral-puzzle-row {
    height: 80px;
  }
  .astral-puzzle-item-container {
    height: 60px;
    width: 60px;
  }
  .astral-puzzle-item-probability {
    font-size: 0.8rem;
  }
}
