.astral-puzzle-header {
  background-color: rgb(112, 105, 105);
  height: 60px;
  display: flex;
  justify-content: center;
  position: relative;
}

.astral-puzzle-header img {
  position: absolute;
  height: 60px;
  left: 0;
  cursor: pointer;
  margin-left: 0.2rem;
}
.astral-puzzle-header header {
  display: flex;
  height: 100%;
  align-items: center;
  font-size: 2rem;
  color: white;
}
