.astral-puzzle-header {
  background-color: rgb(112, 105, 105);
  height: 60px;
  display: flex;
  justify-content: center;
  position: relative;
}

.astral-puzzle-header img {
  position: absolute;
  height: 50px;
  left: 0px;
  top: 5px;
  cursor: pointer;
  margin-left: 0.3rem;
}
.astral-puzzle-header header {
  display: flex;
  height: 100%;
  align-items: center;
  font-size: 2rem;
  color: white;
}

@media (max-width: 480px) {
  .astral-puzzle-header header {
    font-size: 1.5rem;
  }
}
