::view-transition-group(*) {
  animation-duration: 0.15s;
}
* {
  -webkit-tap-highlight-color: transparent;
}

body {
  width: 100vw;
  margin: 0;
}

.astral-puzzle {
  width: 100%;
  margin: 1rem auto;
}

.astral-puzzle-user-input {
  display: grid;
  grid-template: repeat(2, 1fr) / repeat(3, 1fr);
  gap: 0.5rem;
  margin: 1rem 0;
  justify-items: center;
  grid-template-areas:
    '. buttons checkbox1'
    '. checkbox2 checkbox3';
  width: 30rem;
  max-width: 100%;
  margin: 0 auto;
}
.astral-puzzle-buttons {
  grid-area: buttons;
  display: flex;
  gap: 0.5rem;
}

.astral-puzzle-checkbox1 {
  grid-area: checkbox1;
  justify-self: start;
}
.astral-puzzle-checkbox2 {
  grid-area: checkbox2;
}

.astral-puzzle-checkbox3 {
  grid-area: checkbox3;
  justify-self: start;
}

.astral-puzzle-results {
  text-align: center;
}

@media (max-width: 480px) {
  .astral-puzzle-user-input {
    font-size: 0.8rem;
  }
}
