.astral-puzzle-menu-modal {
  position: fixed;
  height: 100vh;
  width: 100vw;
  z-index: 1;
  display: flex;
}
.astral-puzzle-menu {
  position: fixed;
  height: 100vh;
  width: 50vw;
  max-width: 200px;
  background-color: rgb(80, 77, 77);
  animation: slide-in 0.1s linear;
  display: flex;
  flex-direction: column;
}

@keyframes slide-in {
  from {
    transform: translateX(-100%);
  }
  to {
    transform: translateX(0);
  }
}
.astral-puzzle-menu-backdrop {
  flex: 1;
}

.astral-puzzle-menu-header {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 60px;
  min-height: 60px;
  font-size: 1.5rem;
  color: white;
}
.astral-puzzle-menu-options {
  margin: 1rem;
  display: flex;
  flex-direction: column;
  gap: 1rem;
  overflow: auto;
  height: calc(100vh - 60px);
  -ms-overflow-style: none; /* Internet Explorer 10+ */
  scrollbar-width: none; /* Firefox, Safari 18.2+, Chromium 121+ */
}
/* .astral-puzzle-menu-options::-webkit-scrollbar {
  display: none; 
} */
.astral-puzzle-menu-option {
  display: flex;
  color: white;
  height: 40px;
  min-height: 40px;
  justify-content: center;
  align-items: center;
  cursor: pointer;
}

.astral-puzzle-menu-option:hover {
  background-color: rgb(112, 105, 105);
}
.astral-puzzle-menu-option.active {
  background-color: rgba(0, 0, 0);
}
